
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: white;
    height: 100%;
}

main {
    height: 100%;
}

.bi {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
    fill: currentcolor
}

#channelInfoPage {
  overflow: auto;
}

.message-container {
    flex: 1; /* Allow the message container to take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move the messageSender to the bottom */
    overflow: hidden; /* Hide overflow to prevent scrollbars in message-container */
  }

  .message-container-list {
    flex: 1; /* Allow the message list to take all available vertical space */
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }
  

#message-container-list {
    max-height: 100vh;
    overflow-y: auto;
}

.loading-indicator {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  
  .spinner-border {
    width: 2rem;
    height: 2rem;
  }