
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: white;
    height: 100%;
}

main {
    height: 100%;
}

.bi {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
    fill: currentcolor
}

#message-container-list {
    max-height: 400px;
    overflow-y: scroll;
}